@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import './variables.scss';

body {
  margin: 0 auto;
  line-height: 1.5;
  color: $basic-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
strong {
  color: $strong-gray;
}
