.header {
  background-color: #4e3fce;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 20vh 2em;
  min-height: 100vh;
  text-align: center;
}
